/* Базовый шаблонный пример, но темный */

QMainWindow {
    background-color: #333333; /* Темный фон для главного окна */
    color: #ffffff; /* Белый цвет текста по умолчанию */
}

QLabel {
    color: #ffffff; /* Белый цвет текста для меток */
}